.themes-actions {
  button {
    line-height: 40px;
    &.mat-primary {
      border-color: #2196f3;
    }
    &:first-child {
      margin-right: 1rem;
    }
  }

  .mat-icon {
    margin-right: 5px;
  }
}

section:not(:first-child) {
  padding-top: 1.5em;
}

section:not(:last-child) {
  padding-bottom: 1.5em;
}

.layout-actions {
  display: grid;
  gap: 1rem;
  grid-template-columns: 120px 120px;
}

.active-layout {
  color: #2196f3;
  & .demo-container {
    border-color: #2196f3;
  }
}
