@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'styles/themes/themes';

html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

//MatCard
mat-card.mat-card {
  padding: 1.5em;
  border-radius: 1em;
}
